Conor Johnston S12191419 Big Data Landscape Coursework.

Question: using the statistics within the three datasets can we predict with an accuracy above 90% the Bank deposits to GDP% in Afghanistan using the the life expectancy at birth (in years) for both male and female and total population

Life expectancy at birth, male (years)
Life expectancy at birth, female (years)
Bank deposits to GDP (%)
Total Population - https://www.worldometers.info/world-population/afghanistan-population/

This section will be the import section, by placing this here we insure that the imports are brought into
the jupyter notebook first reducing the chances of error.
pandas -> for transferring in the datasets needed.
numpy -> for more functions pertaining to numerical calculations.

In [31]:
import pandas as pd
import numpy as np
import scipy.special
import matplotlib.pyplot
%matplotlib inline

In [32]:
##brings in the raw csv file from github for the gender dataset
genderData = pd.read_csv("https://raw.githubusercontent.com/ByteOrNibble/BigDataLandscapes/master/genderStatsData.csv")
genderData.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Unnamed: 63
0,Arab World,ARB,"Access to anti-retroviral drugs, female (%)",SH.HIV.ARTC.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"Access to anti-retroviral drugs, male (%)",SH.HIV.ARTC.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,Account ownership at a financial institution o...,FX.OWN.TOTL.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,13.775815,NaN,NaN,22.079350,NaN,NaN,25.635403,NaN,NaN
3,Arab World,ARB,Account ownership at a financial institution o...,FX.OWN.TOTL.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,30.377668,NaN,NaN,37.790764,NaN,NaN,48.328518,NaN,NaN
4,Arab World,ARB,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,NaN,NaN,NaN,NaN,NaN,NaN,...,83.64755,83.052920,83.98525,82.81085,82.469600,82.84784,83.31571,83.685170,NaN,NaN

In [42]:
genderData.dtypes

Country Name       object
Country Code       object
Indicator Name     object
Indicator Code     object
1960              float64
                   ...
2015              float64
2016              float64
2017              float64
2018              float64
Unnamed: 63       float64
Length: 64, dtype: object

In [43]:
## this shows that there are no duplicate data rows that need to be dropped
duplicateRows_genderData = genderData[genderData.duplicated()]
print("Number of duplicated rows: ", duplicateRows_genderData.shape)

Number of duplicated rows:  (0, 64)

In [58]:
##this tells us that there are 558 rows of data relating to the ArabWorld with the country code ARB
afghaniDataGender = genderData.loc[genderData['Country Name'] == "Afghanistan"]
afghaniDataGender = afghaniDataGender.loc[ afghaniDataGender["Country Code"] == "AFG"]
afghaniDataGender.shape

(558, 64)

In [59]:
afghaniDataGender

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Unnamed: 63
25668,Afghanistan,AFG,"Access to anti-retroviral drugs, female (%)",SH.HIV.ARTC.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25669,Afghanistan,AFG,"Access to anti-retroviral drugs, male (%)",SH.HIV.ARTC.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25670,Afghanistan,AFG,Account ownership at a financial institution o...,FX.OWN.TOTL.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.616230e+00,NaN,NaN,3.812426,NaN,NaN,7.160685,NaN,NaN
25671,Afghanistan,AFG,Account ownership at a financial institution o...,FX.OWN.TOTL.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.541546e+01,NaN,NaN,15.784667,NaN,NaN,22.536495,NaN,NaN
25672,Afghanistan,AFG,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26221,Afghanistan,AFG,Women who were first married by age 15 (% of w...,SP.M15.2024.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,8.8,NaN,NaN,NaN,NaN
26222,Afghanistan,AFG,Women who were first married by age 18 (% of w...,SP.M18.2024.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.040000e+01,NaN,NaN,32.800000,34.8,NaN,NaN,NaN,NaN
26223,Afghanistan,AFG,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,29.0,2.900000e+01,29.0,28.9,28.900000,29.0,29.1,29.300000,29.4,NaN
26224,Afghanistan,AFG,"Youth illiterate population, 15-24 years, % fe...",UIS.LPP.AG15T24,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,6.250973e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26225,Afghanistan,AFG,"Youth illiterate population, 15-24 years, fema...",UIS.LP.AG15T24.F,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.884197e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
dummy = arabWorldDataIndex["Arab World"]

In [41]:
a = []
for x in dummy:
    if(dummy.loc[x] is True):
        print(x)
        a.append(x)

print(a)

[]

In [36]:
dummy.shape

(146754,)

In [60]:
tables = pd.read_html("https://www.worldometers.info/world-population/afghanistan-population/")
print(tables[0])

                                      0
0  Afghanistan Population (1950 - 2019)
1     Yearly Population Growth Rate (%)

In [62]:
tables

[                                      0
 0  Afghanistan Population (1950 - 2019)
 1     Yearly Population Growth Rate (%),
     Year  Population Yearly % Change  Yearly Change  Migrants (net)  \
 0   2019    38041754          2.34 %         869833          -62920
 1   2018    37171921          2.41 %         875808          -62920
 2   2017    36296113          2.58 %         913081          -62920
 3   2016    35383032          2.82 %         969429          -62920
 4   2015    34413603          3.35 %        1045619          104354
 5   2010    29185507          2.61 %         706246         -209272
 6   2005    25654277          4.30 %         974865          148839
 7   2000    20779953          2.79 %         533859         -173508
 8   1995    18110657          7.85 %        1139670          615277
 9   1990    12412308          0.78 %          94820         -305070
 10  1985    11938208         -2.22 %        -283661         -669019
 11  1980    13356511          1.03 %         133470         -230792
 12  1975    12689160          2.58 %         303104           -4000
 13  1970    11173642          2.33 %         243464           -4000
 14  1965     9956320          2.05 %         191869           -4000
 15  1960     8996973          1.70 %         145196           -4000
 16  1955     8270991          1.30 %         103775           -4000

     Median Age  Fertility Rate  Density (P/Km²) Urban Pop %  Urban Population  \
 0         17.4            5.26               58      25.2 %           9582625
 1         17.4            5.26               57      24.9 %           9273302
 2         17.4            5.26               56      24.7 %           8971472
 3         17.4            5.26               54      24.5 %           8670939
 4         17.2            5.45               53      24.3 %           8367571
 5         15.9            6.48               45      23.4 %           6836980
 6         16.0            7.18               39      22.2 %           5691836
 7         15.5            7.65               32      21.3 %           4436282
 8         16.0            7.48               28      20.4 %           3697570
 9         15.8            7.47               19      20.9 %           2593947
 10        16.2            7.45               18      18.8 %           2238468
 11        16.9            7.45               20      15.9 %           2119078
 12        17.3            7.45               19      13.5 %           1717422
 13        17.9            7.45               17      11.6 %           1295433
 14        18.4            7.45               15       9.9 %            984350
 15        18.8            7.45               14       8.4 %            755797
 16        19.2            7.45               13       7.1 %            587818

    Country's Share of World Pop  World Population  AfghanistanGlobal Rank
 0                        0.49 %        7713468100                      37
 1                        0.49 %        7631091040                      38
 2                        0.48 %        7547858925                      39
 3                        0.47 %        7464022049                      39
 4                        0.47 %        7379797139                      40
 5                        0.42 %        6956823603                      40
 6                        0.39 %        6541907027                      45
 7                        0.34 %        6143493823                      48
 8                        0.32 %        5744212979                      50
 9                        0.23 %        5327231061                      57
 10                       0.25 %        4870921740                      56
 11                       0.30 %        4458003514                      51
 12                       0.31 %        4079480606                      48
 13                       0.30 %        3700437046                      48
 14                       0.30 %        3339583597                      48
 15                       0.30 %        3034949748                      48
 16                       0.30 %        2773019936                      48  ,
      Year  Population Yearly % Change  Yearly Change  Migrants (net)  \
 0     NaN         NaN             NaN            NaN             NaN
 1  2020.0  38928346.0          2.50 %       902949.0        -62920.0
 2  2025.0  43531519.0          2.26 %       920635.0        -60000.0
 3  2030.0  48093578.0          2.01 %       912412.0        -66018.0
 4  2035.0  52587408.0          1.80 %       898766.0        -62359.0
 5  2040.0  56912009.0          1.59 %       864920.0        -62360.0
 6  2045.0  60974113.0          1.39 %       812421.0        -62216.0
 7  2050.0  64682974.0          1.19 %       741772.0             NaN

    Median Age  Fertility Rate  Density (P/Km²) Urban Pop %  Urban Population  \
 0         NaN             NaN              NaN         NaN               NaN
 1        18.4            4.56             60.0      25.4 %         9904337.0
 2        19.9            4.56             67.0      26.9 %        11704638.0
 3        21.5            4.56             74.0      28.7 %        13817897.0
 4        23.2            4.56             81.0      31.0 %        16279334.0
 5        24.9            4.56             87.0      33.6 %        19103637.0
 6        26.6            4.56             93.0      36.5 %        22228097.0
 7        28.4            4.56             99.0      39.4 %        25498515.0

   Country's Share of World Pop  World Population  AfghanistanGlobal Rank
 0                          NaN               NaN                     NaN
 1                       0.50 %      7.794799e+09                    37.0
 2                       0.53 %      8.184437e+09                    37.0
 3                       0.56 %      8.548487e+09                    35.0
 4                       0.59 %      8.887524e+09                    33.0
 5                       0.62 %      9.198847e+09                    32.0
 6                       0.64 %      9.481803e+09                    31.0
 7                       0.66 %      9.735034e+09                    31.0  ,
       Males  Male %   Females Female %  Total Population (2020)  \
 0  19976265  51.32%  18952076   48.68%                 38928346

    Sex Ratio (males to females)
 0                          1.05  ,
   Age Group    Males  Male %  Females Female %  Total Age Group Population  \
 0      0-14  8333700  51.19%  7947146   48.81%                    16280846
 1     15-24  4395220  51.37%  4160710   48.63%                     8555930
 2     25-54  6052518  52.00%  5587332   48.00%                    11639850
 3     55-64   716460  50.44%   704017   49.56%                     1420477
 4       65+   478367  46.39%   552871   53.61%                     1031238

   Age Group's share of total population
 0                                41.82%
 1                                21.98%
 2                                29.90%
 3                                 3.65%
 4                                 2.65%  ,
                                   Age Group  Total Age Group Population  \
 0                    Youth (0-14 years old)                    16280846
 1      Working Age Population (15-64 years)                    21616257
 2                   Elderly (65+ years old)                     1031238
 3  Total Dependency Ratio (Youth + Elderly)                    17312084

   Share of Total Population Dependency Ratio
 0                    41.82%             75.3
 1                    55.53%             N.A.
 2                     2.65%              4.8
 3                    44.47%             80.1  ,
      #                    CITY NAME  POPULATION
 0    1                        Kabul     3043532
 1    2                     Kandahar      391190
 2    3               Mazar-e Sharif      303282
 3    4                        Herat      272806
 4    5                    Jalalabad      200331
 5    6                       Kunduz      161902
 6    7                       Ghazni      141000
 7    8                        Balkh      114883
 8    9                      Baghlan      108449
 9   10                       Gardez      103601
 10  11                        Khost       96123
 11  12                      Maymana       75900
 12  13                     Khanabad       71531
 13  14                      Bazarak       65000
 14  15                        Khulm       64933
 15  16                      Taloqan       64256
 16  17                       Bamyan       61863
 17  18                 Pul-e Khumri       56369
 18  19                   Shibirghan       55641
 19  20                     Charikar       53676
 20  21                    Sar-e Pul       52121
 21  22                       Zaranj       49851
 22  23                      Paghman       49157
 23  24                     Asadabad       48400
 24  25                        Aibak       47823
 25  26                     Fayzabad       44421
 26  27                  Lashkar Gah       43934
 27  28                      Gereshk       43588
 28  29                        Farah       43561
 29  30                     Ghormach       30000
 30  31                     Shindand       29264
 31  32                      Andkhoy       29208
 32  33                       Rustaq       25636
 33  34                      Qarawul       24544
 34  35                       Nahrin       22363
 35  36                 Baraki Barak       22305
 36  37                  Art Khwajah       18623
 37  38                   Kafir Qala       18086
 38  39                       Karukh       17484
 39  40                   Mehtar Lam       17345
 40  41                        Kushk       16952
 41  42                      Shahrak       15967
 42  43                        Asmar       15708
 43  44                Sang-e Charak       15377
 44  45                        Khash       15133
 45  46  Markaz-e Woluswali-ye Achin       15098
 46  47               Jabal os Saraj       15032
 47  48                       Qarqin       15018]